body {
    background-color: #dbdbdb;
    font-family: 'Space Grotesk', sans-serif;
}
 .perfil {
    width: 200px;
    
    margin-top: 50px;
} 

/* fundo branco */
#form {
    display: block;
    
    border-radius: 10%;
    margin-left: 35%;
    
    width: 300px;
    
    font-size: larger;
    font-weight: bold;
    font-family: "Space Grotesk", sans-serif;
  
    background: #ffffff;
    box-sizing: border-box;
    box-shadow: 0 15px 25px rgba(0, 0, 0, 0.6);
    border-radius: 10px;
  }

.text {
    margin-left:50%;
    padding: 10px;
    font-weight: bolder;
}
.w3-row-padding img {margin-bottom: 12px}
/* Set the width of the sidebar to 120px */
.w3-sidebar {width: 120px;background: rgb(0, 0, 0);}
/* Add a left margin to the "page content" that matches the width of the sidebar (120px) */
#main {margin-left: 120px}


img {
    transform:scale(0.8);
}
#nav {
    width: 150px;
    background-color: #1f1d20;
}
.icon {
    color:yellow;
    transform:scale(2);
    margin-top:10px
}
.txt {
    color:#dbdbdb;
    margin-top: 15px;
}
.um {
    margin-top: 20px;
    
}
@media only screen and (max-width: 600px) {
    #main {margin-left: 0;} 
    .perfil { margin-left: 20%;} 
.text {margin-left:43%} 
#form {
    margin-left: 110px;
}

}