/*Header*/

#corpo{
    background-color: #ffffff;
}

.menu{
    background-color: #1f1d20;
    padding: 10px;
}
#tabela {
  margin-left: 10%;
}


.carousel-slide{
  font-family: 'Space Grotesk', sans-serif;
}

#pages{
    color: #FFFFFF;
    font-weight: bold;
}

.pages{
    color: #FFFFFF;
    font-weight: bold;
}

.titulo{
  font-family: 'Space Grotesk', sans-serif;
  font-size: 20px;
  color: #FFFFFF;
  margin-left: 13px;
}

.imagem{
  height: 700px;
}

.redonda1{
  height: 145px;
  border-radius: 100%;
  width: 145px;
}

.redonda2{
  height: 145px;
  border-radius: 100%;
  width: 145px;
}

.redonda3 {
  height: 145px;
  border-radius:100%;
  width: 145px;
}

#dados{
  font-family: 'Space Grotesk', sans-serif;
  margin-top: 80px;
}

#cabecalho{
  margin:  10px 0;
  font-size: 12px
}
header .container input,button{
  border: 0;
  border-radius: 0 !important;
}
table tr{
  background-color: #FFFFFF;
  font-size: 14px;
}
.dadosTit{
  font-family: 'Space Grotesk', sans-serif;
  margin-top: 15px;
}

#img1{
  border-radius: 10%;
}

#img2{
  border-radius: 10%;
}

#img3{
  border-radius: 10%;
}

/* MARKETING CONTENT
-------------------------------------------------- */

/* Center align the text within the three columns below the carousel */
.marketing .col-lg-4 {
  margin-bottom: 1.5rem;
  text-align: center;
}
.marketing h2 {
  font-weight: 400;
}
/* rtl:begin:ignore */
.marketing .col-lg-4 p {
  margin-right: .75rem;
  margin-left: .75rem;
}





.featurette-divider {
  margin: 5rem 0; /* Space out the Bootstrap <hr> more */
}

/* Thin out the marketing headings */
.featurette-heading {
  font-weight: 300;
  line-height: 1;
  /* rtl:remove */
  letter-spacing: -.05rem;
}

/*Footer*/
.redes{
  color: #fCf411;
}

.linkRodape{
  font-family: 'Space Grotesk', sans-serif;
  color: #FFFFFF;
  font-weight: bold;
  text-decoration: none;
}

.linkRodape:hover{
  color: #ffff70;
}

#Redes {
  font-family: 'Space Grotesk', sans-serif; 
}


#linkFinal{
  color: #FFFFFF;
  text-decoration: none;
}

#linkFinal:hover{
  color: #ffff70;
}

#input {
  margin-top: 20px;
}
#buscar {
  margin-top: 20px;
}


#tabela {
  margin-left: 10%;
}
.w3-row-padding img {margin-bottom: 12px}
/* Set the width of the sidebar to 120px */
.w3-sidebar {width: 120px;background: rgb(0, 0, 0);}
/* Add a left margin to the "page content" that matches the width of the sidebar (120px) */
#main {margin-left: 120px}
/* Remove margins from "page content" on small screens */
@media only screen and (max-width: 600px) {#main {margin-left: 0} #tabela {
  margin-left: 0%;
}}
img {
    transform:scale(0.8);
    margin-top: 10px;
    
}

#nav {
    width: 150px;
    height:738px;
    background-color: #1f1d20;
    margin-top: -10px;
}
.icon {
    color:yellow;
    transform:scale(2);
    margin-top:10px
}
.txt {
    color:#dbdbdb;
    margin-top: 15px;
}
.um {
    margin-top: 20px;
    
}
