/*Header*/

#corpo{
    background-color: #ffffff;
}

#logo{
    height: 70px;
    border-radius: 10%;
}

.menu{
    background-color: #1f1d20;
    padding: 10px;
}

.carousel-slide{
  font-family: 'Space Grotesk', sans-serif;
}

#pages{
    color: #FFFFFF;
    font-weight: bold;
}

.pages{
    color: #FFFFFF;
    font-weight: bold;
}

.titulo{
  font-family: 'Space Grotesk', sans-serif;
  font-size: 20px;
  color: #FFFFFF;
  margin-left: 13px;
}

.imagem{
  height: 700px;
}

.redonda1{
  height: 145px;
  border-radius: 100%;
  width: 145px;
}

.redonda2{
  height: 145px;
  border-radius: 100%;
  width: 145px;
}

.redonda3 {
  height: 145px;
  border-radius:100%;
  width: 145px;
}

#dados{
  font-family: 'Space Grotesk', sans-serif;
  margin-top: 80px;
}

.dadosTit{
  font-family: 'Space Grotesk', sans-serif;
  margin-top: 15px;
}

img {
  width: 100%;
  height: 100%;
}

#img1{
  border-radius: 10%;
}

#img2{
  border-radius: 10%;
}

#img3{
  border-radius: 10%;
}

/* MARKETING CONTENT
-------------------------------------------------- */

/* Center align the text within the three columns below the carousel */
.marketing .col-lg-4 {
  margin-bottom: 1.5rem;
  text-align: center;
}
.marketing h2 {
  font-weight: 400;
}
/* rtl:begin:ignore */
.marketing .col-lg-4 p {
  margin-right: .75rem;
  margin-left: .75rem;
}





.featurette-divider {
  margin: 5rem 0; /* Space out the Bootstrap <hr> more */
}

/* Thin out the marketing headings */
.featurette-heading {
  font-weight: 300;
  line-height: 1;
  /* rtl:remove */
  letter-spacing: -.05rem;
}

/*Footer*/
.redes{
  color: #fCf411;
}

.linkRodape{
  font-family: 'Space Grotesk', sans-serif;
  color: #FFFFFF;
  font-weight: bold;
  text-decoration: none;
}

.linkRodape:hover{
  color: #ffff70;
}

#Redes {
  font-family: 'Space Grotesk', sans-serif; 
}


#linkFinal{
  color: #FFFFFF;
  text-decoration: none;
}

#linkFinal:hover{
  color: #ffff70;
}