/*Header*/
#corpo {
  background-color: #ffffff;
  font-family: "Space Grotesk";
}

#logo {
  height: 70px;
  border-radius: 10%;
}

.menu {
  background-color: #1f1d20;
  padding: 10px;
}

#form {
  margin-bottom: 10%;
  margin-left: 30%;
  border-radius: 10%;
  padding-top: 50%;
  padding-bottom: 10%;
  width: 500px;
  text-align: left;
  font-size: larger;
  font-weight: bold;
  font-family: "Space Grotesk", sans-serif;
  height: 40%;
  padding: 80px;
  background: #ffffff;
  box-sizing: border-box;
  box-shadow: 0 15px 25px rgba(0, 0, 0, 0.6);
  border-radius: 10px;
}

#form label {
  margin-top: 50px;
}

.input {
  min-width: 280px;
  border-bottom: 2px #1f1d20 solid;
  padding: 5px;
  margin: 0px 0px 12px -5px;
}

.input i {
  font-size: 1.2em;
  padding: 5px;
}

.input input {
  width: 80%;
  border: none;
  outline: none;
  background-color: #ffffff;
}

#btn {
  width: 100%;
  height: 50%;
}

#btn button {
  font-family: "Space Grotesk";
  background-color: #1f1d20;
  border-radius: 22px;
  width: 100%;
  color: #ffffff;
  border: none;
  outline: none;
  font-size: 1.2em;
}
#pages {
  color: #ffffff;
  font-weight: bold;
}

.pages {
  color: #ffffff;
  font-weight: bold;
}

.titulo {
  font-family: "Space Grotesk", sans-serif;
  font-size: 20px;
  color: #ffffff;
  margin-left: 13px;
}

.imagem {
  height: 700px;
}

#btn {
  padding-top: 10%;
}

#dados {
  margin-top: 80px;
}

.dadosTit {
  font-family: "Space Grotesk", sans-serif;
  margin-top: 15px;
}

/* MARKETING CONTENT
-------------------------------------------------- */

/* Center align the text within the three columns below the carousel */
.marketing .col-lg-4 {
  margin-bottom: 1.5rem;
  text-align: center;
}
.marketing h2 {
  font-weight: 400;
}
/* rtl:begin:ignore */
.marketing .col-lg-4 p {
  margin-right: 0.75rem;
  margin-left: 0.75rem;
}

.featurette-divider {
  margin: 5rem 0; /* Space out the Bootstrap <hr> more */
}

/* Thin out the marketing headings */
.featurette-heading {
  font-weight: 300;
  line-height: 1;
  /* rtl:remove */
}

/*Footer*/
.redes {
  color: #fcf411;
}

.linkRodape {
  font-family: "Space Grotesk", sans-serif;
  color: #ffffff;
  font-weight: bold;
  text-decoration: none;
}

.linkRodape:hover {
  color: #ffff70;
}

#linkFinal {
  color: #ffffff;
  text-decoration: none;
}

#linkFinal:hover {
  color: #ffff70;
}

/* CSS do carrosel */
.carousel {
  margin-bottom: 4rem;
}

.carousel-caption {
  bottom: 3rem;
  z-index: 10;
}

.carousel-item {
  height: 32rem;
}
.carousel-item > img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 32rem;
  object-fit: cover;
}

.fundo-title {
  background-color: #1f1d20;
  font-family: "Space Grotesk";
}

#img-1 {
  border-radius: 10px;
  padding-left: 10px;
  width: 68%;
}

#img-2 {
  border-radius: 10px;
  padding-left: 10px;
  padding-right: 10px;
  width: 50%;
  margin-left: 150px;
}

#img-3 {
  border-radius: 10px;
  padding-left: 10px;
  padding-right: 10px;
  width: 62%;
  margin-left: 248px;
}
