#logo{
    height: 70px;
    border-radius: 10%;
}

body{
	background-color: #ffffff;
	font-family: 'Space Grotesk', sans-serif;
}


.login {
	width: 320px;
	padding: 0px;
	padding-top: 20px;
	
}

.login__field {
	padding: 10px 0px;	
	margin-top: 20px;
}

.login__icon {
	top: 30px;
	color: #ffffff;
}

.login__input {
	border: none;
	border-bottom: 2px solid #dbdbdb;
	background: none;
	padding: 10px;
	padding-left: 24px;
	font-weight: 700;
	width: 75%;
	transition: .2s;
}

.login__input:active,
.login__input:focus,
.login__input:hover {
	outline: none;
	border-bottom-color: #000000
}

.login__submit {
	background: #ffffff;;
	font-size: 14px;
	margin-top: 10px;
	padding: 15px 130px;
	border-radius: 26px;
	border: 1px solid #dbdbdb;
	text-transform: uppercase;
	font-weight: 700;
	display: flex;
	align-items: center;
	width: 100%;
	color: #000000;
	box-shadow: 0px 2px 2px #000000;
	cursor: pointer;
	transition: .2s;
}

.menu:active,
.menu:focus,
.menu:hover {
	border-color: #000000;
	outline: none;
}
.login__submit:active,
.login__submit:focus,
.login__submit:hover {
	border-color: #000000;
	outline: none;
}



.CAD {
    text-align: center;
    
    font-weight: bold;
	font-family: 'Space Grotesk', sans-serif;
    position: absolute;
    top: 55%;
    left: 50%;
    height: 550px;
    width: 400px;
    padding: 40px;
    transform: translate(-50%, -50%);
    background: #ffffff;
    box-sizing: border-box;
    box-shadow: 0 15px 25px rgba(0,0,0,.6);
    border-radius: 10px;
  }
  .cada{
	background: #fffb94;
	height: 70px;
    width: 400px;
	margin-left: -40px;
	margin-top: 25px;
	border-bottom-right-radius: 10px;
	border-bottom-left-radius: 10px;
	color: #000000;
	box-shadow: 0 15px 25px rgba(0,0,0,.6);
	
  }
  .txt {
	  position:absolute;
	  left:20%;
	  top:92%;
	  
  }
  @media screen and (min-width:900px) {
	.CAD {
		position: absolute;
		top: 50%;
		left: 33%;
		height: 500px;
		
	}
	.cada {
		height:500px;
		width: 400px;
		position: absolute;
		left:108%;
		top:-5%;
		border-bottom-right-radius: 10px;
		border-bottom-left-radius: 0px;
		border-top-right-radius: 10px;
		box-shadow: 10px 15px 25px rgba(0,0,0,.6);

	}
	.txt {
		
		left:140%;
		top:25%;
		text-align: center;
		font-size: larger;
	}
	.txt:hover {
		transform:scale(1.1)
	}

  }
  @media screen and (max-width:400px) {
	#nav {
		width: 126%;
	}
	.CAD {
		transform: scale(0.9);
		top:30%;
		left:10%;
		
	}
  }
  @media screen and (max-width:300px) {
	#nav {
		width: 148%;
	}
	.CAD {
		transform: scale(0.9);
		top:30%;
		left:0%;
		
	}
}
