/* BODY */

#corpo{
    background-color: #dbdbdb;
    font-family: "Space Grotesk", sans-serif;

}

/* HEADER */

#logo{
    height: 70px;
}

.titulo{
    font-family: 'Space Grotesk', sans-serif;
    font-size: 20px;
    color: #FFFFFF;
    margin-left: 13px;
  }

.container{
    border: 0px solid ;
}

.card{
    margin: 15px;
}


.eventosImpar h1{
    font-family: 'Space Grotesk', sans-serif;
    font-size: 30px;
    color: #25292E;
    font-weight: bold;
    margin: 10px;
    text-align: center;
}

.eventosPar h1{
    font-family: 'Space Grotesk', sans-serif;
    font-size: 30px;
    color: #25292E;
    font-weight: bold;
    margin: 10px;
    text-align: center;
}


.eventosImpar{
    background-color: #dbdbdb;
}

.eventosPar{
    background-color: #dbdbdb;
}

.eventos h5{
    font-family: 'Space Grotesk', sans-serif;
    color: #25292E;
    font-weight: bold;
}

.eventos a{
    width: 100%;
    font-family: 'Space Grotesk', sans-serif;
    background-color: #fcf411;
    border: 0px;
    color: #25292E;
    font-weight: bold;
}

.eventos a:hover{
    color: #25292E;
    background-color: #fcf411;
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}

.card{
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}


/*Footer*/
.redes{
    color: #fCf411;
  }
  
  .linkRodape{
    font-family: 'Space Grotesk', sans-serif;
    color: #FFFFFF;
    font-weight: bold;
    text-decoration: none;
  }
  
  .linkRodape:hover{
    color: #ffff70;
  }
  
  #linkFinal{
    color: #FFFFFF;
    text-decoration: none;
  }
  
  #linkFinal:hover{
    color: #ffff70;
  }









/* Doador */
#doador img{
    width: 95%;
    display: block;
    margin: 30px auto 30px auto; 
    border-radius: 10px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

}

#doador .col{
    background-color: #25292E;
}

#doador h1{
    font-weight: bold;
    font-family: 'Space Grotesk', sans-serif;
    font-size: 300%;
    color: #fcf411;
    text-transform: uppercase;

}

#doador h2{
    margin-top: 10px;
    font-family: 'Space Grotesk', sans-serif;
    font-size: 140%;
    color: #dbdbdb;
}

.incentivarDoacao{
    display: block;
    margin: 100px auto;
    padding: 20px;
}

#meiosDoacao h1, #doacaoInsumos h1{
    margin-top: 25px;
    text-transform: uppercase;
    font-weight: bold;
}

#meiosDoacao h2, #doacaoInsumos h2{
    font-size: 18px;
    text-transform: uppercase;
    font-weight: bold;
}






#meiosDoacao .iconeDoacao{
    display: block;
    margin: auto;
    font-size: 80px;
    color: #fcf411;
    text-align: center;
}

#meiosDoacao h5{
    display: block;
    font-size: 25px;
    margin-top: 14px;
    font-family: 'Space Grotesk', sans-serif;
    color: #dbdbdb;
    font-weight: bold;
    text-align: center;
}

#meiosDoacao .seta{
    font-size: 20px;
    color: #fcf411;
    display: block;
    margin: auto;
    text-align: center;
}

#meiosDoacao .accordion-button{
    border-radius: 10px;
    background-color: #25292E;
}

#meiosDoacao .accordion-item{
    margin-top: 20px;
    border-radius: 20px;
}

#meiosDoacao .accordion-button{
    display: block;
}



.transparencia{
    margin-top: 40px;

}

.transparencia .col{
    background-color: #25292E;
}

.transparencia video{
    width: 95%;
    display: block;
    margin: 30px auto 30px auto; 
    border-radius: 10px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.transparencia button{
    background-color: #dbdbdb;
    font-family: 'Space Grotesk', sans-serif;
    font-weight: bold;
    text-transform: uppercase;
}




.transparencia h1{
    font-weight: bold;
    margin-top: 50px;
    font-family: 'Space Grotesk', sans-serif;
    font-size: 200%;
    color: #fcf411;
    text-transform: uppercase;
}

.transparencia h2{
    font-family: 'Space Grotesk', sans-serif;
    font-size: 120%;
    color: #dbdbdb;
}


.transparencia .accordion{
    margin-top: 23px;
    border-radius: 10px;
    padding-right: 5px;
}









.atividadesVol{
    margin-top: 30px;
    margin-bottom: 30px;
}

.atividadesVoluntario{
    margin-top: 25px;
    text-transform: uppercase;
    font-weight: bold;
}

.subAtividadesVoluntario{
    font-size: 18px;
    text-transform: uppercase;
    font-weight: bold;
}

.atividadesVol .acoesVoluntarios{
    background-color: #25292E;
    text-transform: uppercase;
    font-weight: bold;
    color: #dbdbdb;
    text-align: center;
}



/* .atividadesVol .acoesVoluntarios:hover{
    color: #fcf411;
} */


/* .cardAcoes{
    transition: all 0.5s;
    cursor: pointer;
} */

/* .cardAcoes:hover{
    color: #fcf411;
    -webkit-filter: drop-shadow(15px 10px 5px rgba(0,0,0,.5));
    filter: drop-shadow(15px 10px 5px rgba(0,0,0,.5));
} */





#form {
    display: block;
    margin: auto auto 40px auto;
    border-radius: 10%;
    padding-top: 50%;
    padding-bottom: 10%;
    width: 500px;
    text-align: left;
    font-size: larger;
    font-weight: bold;
    font-family: "Space Grotesk", sans-serif;
    height: 40%;
    padding: 50px;
    background: #ffffff;
    box-sizing: border-box;
    box-shadow: 0 15px 25px rgba(0, 0, 0, 0.6);
    border-radius: 10px;
  }

  #form label {
    margin-top: 5px;
  }

  #btn {
    width: 100%;
    height: 50%;
  }

  #btn {
  padding-top: 10%;
}
  
  #btn input {
    font-family: "Space Grotesk", sans-serif;
    background-color: #fcf411;
    border-radius: 50px;
    width: 100%;
    color: #ffffff;
    border: none;
    outline: none;
    font-size: 1.2em;
    color: #1f1d20;
    height: 60px;
    font-weight: bold;
  }

  #btn input:hover {
    background-color: #ffff70;
  }

  #btn button {
    font-family: "Space Grotesk", sans-serif;
    background-color: #fcf411;
    border-radius: 50px;
    width: 100%;
    color: #ffffff;
    border: none;
    outline: none;
    font-size: 1.2em;
    color: #1f1d20;
    height: 60px;
    font-weight: bold;
  }

  #btn button:hover {
    background-color: #ffff70;
  }

  .input {
    min-width: 280px;
    border-bottom: 2px #1f1d20 solid;
    padding: 5px;
    margin: 0px 0px 12px -5px;
  }
  
  .input i {
    font-size: 1.2em;
    padding: 5px;
  }
  
  .input input {
    width: 80%;
    border: none;
    outline: none;
    background-color: #ffffff;
  }

.fundoFormVoluntarios{
    background-color: #25292E;
}

.fundoFormVoluntarios img{
    margin-right: 20px;
    width: 100%;
}




/* Iniciativas */
#iniciativa img{
    width: 95%;
    display: block;
    margin: 30px auto 30px auto; 
    border-radius: 10px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

}

#iniciativa .col{
    background-color: #25292E;
    
}

#iniciativa h1{
    font-weight: bold;
    font-family: 'Space Grotesk', sans-serif;
    font-size: 300%;
    color: #fcf411;
    text-transform: uppercase;
    text-align: left;
}

#iniciativa h2{
    margin-top: 10px;
    font-family: 'Space Grotesk', sans-serif;
    font-size: 135%;
    color: #dbdbdb;
    text-align: left;
}

.descricaoIniciativa{
    display: block;
    padding: 20px;
    padding: 60px;
}



.impacto button{
    display: block;
    margin: 40px auto;
    border-radius: 20px;
    border: 0px;
    background-size: 100%;
    width: 90%;
    height: 625px;
    background-repeat: no-repeat;
    background-image: url(../Assets/imagens/imagens_voluntarios/botaoImpacto.png);
}

.ods button{
    display: block;
    margin: 40px auto;
    border-radius: 20px;
    border: 0px;
    background-size: 100%;
    width: 90%;
    height: 625px;
    background-repeat: no-repeat;
    background-image: url(../Assets/imagens/imagens_voluntarios/botaoOds.png);
}

.impacto button:hover{
    transition: 1s all;
    background-image: url(../Assets/imagens/imagens_voluntarios/impacto.png);
}

.ods button:hover{
    transition: 1s all;
    background-image: url(../Assets/imagens/imagens_voluntarios/ods.png);
}

@media screen and (min-width:1400px){

    .impacto button{
     
        height: 655px;
       /* height: 625px; */
    
    }
    
    .ods button{
     
        height: 655px;
      /*  height: 625px; */
        
    }
    
}
@media screen and (min-width:800px) and (max-width:1200px){

    .impacto button{
     
        height: 480px;
      /*  height: 420px;*/
    
    }
    
    .ods button{
     
        height: 480px;
      /*  height: 420px; */
        
    }
    
}

@media screen and (max-width:799px){

    .impacto button{
     
        height: 80%;
        
       /* height: 290px; */
    
    }
    
    .ods button{
     
        height: 320px;
        
      /*  height: 290px;  */
        
    }
    
}








.direcionarSobre h1{
    font-family: 'Space Grotesk', sans-serif;
    font-weight: bold;
    text-transform: uppercase;
    font-size: 40px;
    margin-top: 30px;
    text-align: center;
}


.cardGaleria img{
    display: block;
    margin: 30px auto 30px auto;
    width: 90%;
    border-radius: 10px;
    border: 7px solid #1f1d20;
}

.cardApoiador{
    background-color: #dbdbdb;
}

.cardApoiador{
    padding: 20px;
}

.cardApoiador h1{
    font-family: 'Space Grotesk', sans-serif;
    font-weight: bold;
    text-transform: uppercase;
    font-size: 40px;
    text-align: center;
    color: #1f1d20;
}

.cardApoiador img{
    display: block;
    margin: 30px auto 30px auto;
    width: 200px;
    border-radius: 10px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

iframe{
    display: block;
    margin: 30px auto 30px auto;
    height: 83%;
    border-radius: 10px;
    width: 95%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

}






#sobre img{
    width: 95%;
    display: block;
    margin: 30px auto 30px auto; 
    border-radius: 10px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

}

#sobre .col{
    background-color: #25292E;
    
}

#sobre h1{
    font-weight: bold;
    font-family: 'Space Grotesk', sans-serif;
    font-size: 300%;
    color: #fcf411;
    text-transform: uppercase;
    text-align: left;
}

#sobre h2{
    margin-top: 10px;
    font-family: 'Space Grotesk', sans-serif;
    font-size: 120%;
    color: #dbdbdb;
    text-align: left;
}

.descricaoSobre{
    display: block;
    padding: 20px;
    padding: 60px;
}





.login{
    background-color: #1f1d20;
}

#imagemLogin{
    width: 101.7%;
}

.login .title{
    text-align: center;
    font-weight: bold;
    margin-bottom: 12px;
}


#botaoCadastrar{
    margin-top: 15px;
    text-align: center;
}

#botaoCadastrar a{
    font-family: 'Space Grotesk', sans-serif;
    text-decoration: none;
    color: #1f1d20;
}

#botaoCadastrar a:hover{
    color: #25292E;
}



#selecionarCargo{
    font-family: 'Space Grotesk', sans-serif;
    border: 1px solid #dbdbdb;
    border-radius: 10px;
    text-align: center;
    padding: 5px;
    margin-top: 12px;
    width: 100%;
    background-color: #dbdbdb;
}